<iframe id="mt-plugin-autoresizeimage-editor" data-autoresizeimage-width="<mt:Var name="autoresizeimage_size" />"  data-autoresizeimage-height="<mt:Var name="autoresizeimage_size" />" data-autoresizeimage-quality="<mt:Var name="autoresizeimage_quality" />" style="height: 1px; visibility: hidden"></iframe>
