<mtapp:setting
    id="autoresizeimage_size"
    label="<__trans phrase="Size">"
>
<input type="number" name="autoresizeimage_size" value="<mt:Var name="autoresizeimage_size" />" class="form-control" />
</mtapp:setting>

<mtapp:setting
    id="autoresizeimage_quality"
    label="<__trans phrase="Quality">"
>
<input type="number" name="autoresizeimage_quality" value="<mt:Var name="autoresizeimage_quality" />" class="form-control" />
</mtapp:setting>
